.accordion {
    max-width: 600px;
    margin: 2rem auto;
    text-align: left;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
  }
  
  .accordion-title:hover {
    background-color: rgb(226, 226, 226);
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: rgb(226, 226, 226,0.1);
  }